body { 
  background: linear-gradient(rgb(117, 207, 243),rgb(248, 147, 164),white);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

input{
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  margin: 10px;
  background-color: rgba(156, 244, 247, 0.904);
}
button{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  margin: 40px;
  background-color: rgba(132, 189, 190, 0.904);
}
hr{
  background: black;
  width: 60%;
  height: 2px;
}

.first{
  border: 1px solid black;
  min-height: 150px;
  width: 50%;
  margin: 150px;
  background-color: rgba(132, 189, 190, 0.904);
}
.second{
  border: 1px solid black;
  min-height: 45px;
  width: auto;
  margin: 20px;
  border-radius: 15px;
  background-color: crimson;
  padding-top: 9px;
}

h3{
  background-color: skyblue;
  border: 2px solid black;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2,auto);
  margin: 50px 90px;
}

@media screen and (min-width:350px) and (max-width:700px){

  h3{
    display: flex;
    flex-direction: column;
    margin: 15px;

  }
  .second{
    font-size: 15px;
  
  }
}